In [1]:
import pandas as pd # importo pandas para poder leer el dataframe
df = pd.read_csv("T1.csv")

In [2]:
df.head() # muestro los 5 primeros elementos del dataframe

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286

In [4]:
df.dtypes # veo el tipo de dato de las columnas

Date/Time                         object
LV ActivePower (kW)              float64
Wind Speed (m/s)                 float64
Theoretical_Power_Curve (KWh)    float64
Wind Direction (°)               float64
dtype: object

- Al ser un tipo de dato objecto y con "pocas" columnas considero que la mejor manera de gestionar los datos sería con **Object Storage**